h2 {
  color: blue;
}
h1 {
  size: 200px;
}
a {
  color: rgb(159, 159, 245);
}

header {
  width: 375px;
  height: 650px;
  background-image: url(red.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: blue;
}
